@charset "UTF-8";


/* 본문 캘린더 */

#calendar {
width:80vm;
height: 80vm;
float:left;
padding : 50px;
/* padding-right: 100px; */
}

/* 일요일 */
th.fc-day-header.fc-widget-header.fc-sun span{
 color: red;
}
td.fc-day-top.fc-sun.fc-other-month.fc-past span{
 color: red;
}

td.fc-day-top.fc-sun.fc-past a{
 color: red;
}

td.fc-day-top.fc-sun.fc-past span{
 color: red;
}

td.fc-day-top.fc-sun.fc-future a{
 color: red;
}

td.fc-day-top.fc-sun.fc-future span{
 color: red;
}
/* 월요일 */
td.fc-day-top.fc-mon.fc-past a{
 color: black;
}

td.fc-day-top.fc-mon.fc-future a{
 color: black;
}

/* 화요일 */
td.fc-day-top.fc-tue.fc-past a{
 color: black;
}

td.fc-day-top.fc-tue.fc-future a{
 color: black;
}
/* 수요일 */
td.fc-day-top.fc-wed.fc-past a{
 color: black;
}

td.fc-day-top.fc-wed.fc-future a{
 color: black;
}
/* 목요일 */
td.fc-day-top.fc-thu.fc-past a{
 color: black;
}

td.fc-day-top.fc-thu.fc-future a{
 color: black;
}
/* 금요일 */
td.fc-day-top.fc-fri.fc-past a{
 color: black;
}

td.fc-day-top.fc-fri.fc-future a{
 color: black;
}
/* 토요일 */
td.fc-day-top.fc-sat.fc-other-month.fc-past span{
 color: blue;
}

th.fc-day-header.fc-widget-header.fc-sat span{
 color: blue;
}

td.fc-day-top.fc-sat.fc-past a{
 color: blue;
}

td.fc-day-top.fc-sat.fc-past span{
 color: blue;
}

td.fc-day-top.fc-sat.fc-future a{
 color: blue;
}

td.fc-day-top.fc-sat.fc-future span{
 color: blue;
}

 

 

#calendar-mini div.fc-content{
	height: 1px;
}
#calendar-mini div.fc-center h2{
	font-size: 15px;
}
#calendar-mini a.fc-day-number{
	font-size: 5px;
}

#calendar-out div.fc-content{
	height: 1px;
}
#calendar-out div.fc-center h2{
	font-size: 15px;
}
#calendar-out a.fc-day-number{
	font-size: 5px;
}


#calendar-mini-Modify div.fc-content{
	height: 1px;
}
#calendar-mini-Modify div.fc-center h2{
	font-size: 15px;
}
#calendar-mini-Modify a.fc-day-number{
	font-size: 5px;
}


#calendar-out-Modify div.fc-content{
	height: 1px;
}
#calendar-out-Modify div.fc-center h2{
	font-size: 15px;
}
#calendar-out-Modify a.fc-day-number{
	font-size: 5px;
}


 
/* 수입  내역 입력 */
#inCashMyModal  .modal-header {
    background-color: #337AB7;
    padding:16px 16px;
    color:#FFF;
    border-bottom:2px dashed #337AB7;
 }

#inCashMyModal  .modal-body {
	height: 400px;
	padding: 10px;
	margin-bottom: 30px;
}

#inCashMyModal .modal-body .container {
 	width: 70%;
 	float: right;
 	height: inherit;
 	overflow-y: scroll;
 }

 
#inCashMyModal  .modal-body .modal-inLeft{
	float: left;
 	width: 30%;
 	height: auto;
 	padding: 5px;
 	padding-top: 15px;
 }
 
#inCashMyModal  .modal-dialog .modal-content .modal-footer {
    bottom: 0;
    height: 60px;
}

#inCashMyModal .th_inTitle{
	width: 50px;
}

#inCashMyModal .th_inPrice{
	width: 150px;
}


/* 모달수정 수입 수정 */

#inCashMyModalModify  .modal-header {
    background-color: #337AB7;
    padding:16px 16px;
    color:#FFF;
    border-bottom:2px dashed #337AB7;
 }

#inCashMyModalModify  .modal-body {
	height: 400px;
	padding: 10px;
	margin-bottom: 30px;
}

#inCashMyModalModify .modal-body .container {
 	width: 70%;
 	float: right;
 	overflow-y: scroll;
 }
 

#inCashMyModalModify  .modal-body .modal-inLeft{
	float: left;
 	width: 30%;
 	height: auto;
 	padding: 5px;
 	padding-top: 15px;
 }
 
#inCashMyModalModify  .modal-dialog .modal-content .modal-footer {
    bottom: 0;
    height: 60px;
}

#inCashMyModalModify .th_inTitle{
	width: 50px;
}

#inCashMyModalModify .th_inPrice{
	width: 150px;
}


/* 지출  내역 입력 */

#outCashMyModal  .modal-header {
    background-color: #337AB7;
    padding:16px 16px;
    color:#FFF;
    border-bottom:2px dashed #337AB7;
 }
 
#outCashMyModal .modal-body {
	height: 400px;
	padding: 10px;
	margin-bottom: 30px;
}

#outCashMyModal  .modal-body .modal-outLeft{
	float: left;
 	width: 30%;
 	height: auto;
 	padding: 5px;
 	padding-top: 15px;
 }
 
#outCashMyModal .modal-body .container {
 	width: 70%;
 	float: right;
 	height: inherit;
 	overflow-y: scroll;
 }
 
 
#outCashMyModal .modal-dialog .modal-content .modal-footer {
    bottom: 0;
    height: 60px;
}



#outCashMyModal .th_outTitle{
	width: 150px;
}

#outCashMyModal .th_outPrice{
	width: 150px;
}

#outCashMyModal .th_outCategory{
	width: 60px;
}
#outCashMyModal .th_outDelete{
	width: 50px;
}



/* 지출  내역 수정*/

#outCashMyModalModify  .modal-header {
    background-color: #337AB7;
    padding:16px 16px;
    color:#FFF;
    border-bottom:2px dashed #337AB7;
 }
 
#outCashMyModalModify .modal-body {
	height: 400px;
	padding: 10px;
	margin-bottom: 30px;
}

#outCashMyModalModify  .modal-body .modal-outLeft{
	float: left;
 	width: 30%;
 	height: auto;
 	padding: 5px;
 	padding-top: 15px;
 }
 
#outCashMyModalModify .modal-body .container {
 	width: 70%;
 	float: right;
 	height: inherit;
 	overflow-y: scroll;
 }
 
 
#outCashMyModalModify .modal-dialog .modal-content .modal-footer {
    bottom: 0;
    height: 60px;
}

#outCashMyModalModify .th_outTitle{
	width: 150px;
}

#outCashMyModalModyfy .th_outPrice{
	width: 150px;
}

#outCashMyModalModify .th_outCategory{
	width: 60px;
}
#outCashMyModalModify .th_outDelete{
	width: 50px;
}

