@charset "UTF-8";

header{
	
	height : 60px;
    color: white;
    background-color: #006699;
    
    top: 0; 
    bottom:0; 
    margin-top:auto; 
    margin-bottom:auto;
	position: relative;
	display: inline-block;
	
}

#header {
	line-height: 55px;
}

#headerTitle{
	font-weight: bold;
	font-size: 2rem;
	padding-left: 50px; 
 }

#myinfo{
	padding-right: 50px;
}

#menuRow ul {
	list-style-type: none;
    margin:0;
    padding:0;
    text-align: center;
}

#menuRow li {
    display: inline;
    padding: 5px;
}


#menuRow img{
	width: 7%;
	height: auto;
}